@page "/infrastructuretable"
@using IndoorMappingWebsite.Models
@using IndoorMappingWebsite.Services
@attribute [StreamRendering]
@inject IInfraestruturaService infraestruturaService
@inject ITipoInfraestruturaService tipoInfraestruturaService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<PageTitle>infrastructuretable</PageTitle>

<style>
    body {
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
    }

    /* Navbar Styles */
    .navbarList {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: darkred;
        padding: 0 20px;
        list-style: none;
        margin: 0;
        height: 60px;
    }

    .logo a {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
    }

    .navbarItem {
        margin-left: 15px;
    }

        .navbarItem a {
            color: white;
            text-decoration: none;
            padding: 10px 16px;
            border-radius: 6px;
            transition: background-color 0.3s ease;
        }

            .navbarItem a:hover:not(.active) {
                background-color: #540000;
            }

            .navbarItem a.active {
                background-color: gray;
            }

    /* Center container and buttons */
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 60px);
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

        .center-container h1 {
            margin-bottom: 3rem;
            font-size: 2rem;
            color: #343a40;
        }

    /* Filter input */
    .search-bar {
        margin-bottom: 1.5rem;
        width: 100%;
        max-width: 500px;
    }

        .search-bar input {
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #ced4da;
            font-size: 1.1rem;
        }

    /* Table Container */
    .table-container {
        width: 80%;
        height: calc(100vh - 200px);
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 2rem;
        margin-bottom: 0;
        padding: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        padding: 0;
    }

    th, td {
        vertical-align: middle;
        text-align: center;
        padding: 12px;
        font-size: 1.1rem;
    }

    th {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    thead {
        position: sticky;
        top: 0;
        background-color: darkred;
    }

    button {
        width: 80px;
    }

    .addbtn {
        background-color: darkred;
        position: sticky;
        bottom: 0;
    }

    input {
        text-align: center;
    }

    .canto-inferior-direito {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        background-color: @messageColor;
        border-radius: 16px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    .modal-backdrop-custom {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.5;
        z-index: 10; /* um pouco abaixo do modal */
    }

</style>
@if (showModal)
{
    <div class="modal-backdrop-custom"></div>
}
@if (message != "" && message != null)
{
    <div class="canto-inferior-direito">
        @message
    </div>
}
<ul class="navbarList">
    <li class="logo"><a href="home">IndoorMap</a></li>
    <div style="display: flex;">
    <li class="navbarItem"><a href="home">Home</a></li>
    <li class="navbarItem"><a href="map">Map</a></li>
    <li class="navbarItem"><a href="usertable">Users</a></li>
    <li class="navbarItem"><a href="beaconstable">Beacons</a></li>
    <li class="navbarItem"><a href="pathsmap">Paths</a></li>
    <li class="navbarItem"><a href="logstable">Logs</a></li>
    <li class="navbarItem"><a class="active" href="infrastructuretable">Infrastructure</a></li>
    <li class="navbarItem"><a href="feedbacktable">Feedback</a></li>
    </div>
</ul>

<div class="center-container">
    <h1>InfraStructure Table</h1>

    <!-- Search Input -->
    <div class="search-bar">
        <input type="text" @oninput="OnSearchInput" placeholder="Search by description, latitude, or longitude..." class="form-control" />
    </div>

    <!-- Table with Filtered Data inside a Scrollable Container -->
    <div class="table-container">
        <table class="table table-striped m-0">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Floor</th>
                    <th>Accessible</th>
                    <th>Type</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in FilteredPeople)
                {
                    <tr>
                        <td>@person.descricao</td>
                        <td>@(person.latitude)º</td>
                        <td>@(person.longitude)º</td>
                        <td>@person.piso</td>
                        @if (person.acessivel)
                        {
                            <td>
                                Available
                            </td>
                        }
                        else
                        {
                            <td>
                                Unavailable
                            </td>
                        }
                        <td>@person.tipoInfraestrutura</td>
                        <td><button type="button" class="btn btn-primary" @onclick="() => ShowEditModal(person)">Edit</button></td>
                        <td><button type="button" class="btn btn-danger" @onclick="() => HandleDeleteSubmit(person.id)">Delete</button></td>
                    </tr>
                }
                <tr class="addbtn">
                    <td><InputText @bind-Value=newInfra.descricao class="form-control" placeholder="Insira a Descrição..." /></td>
                    <td><InputNumber @bind-Value=newInfra.latitude class="form-control" placeholder="Insira a Latitude..." /></td>
                    <td><InputNumber @bind-Value=newInfra.longitude class ="form-control" placeholder="Insira a Longitude..." /></td>
                    <td><InputNumber @bind-Value=newInfra.piso class="form-control" placeholder="Insira o Piso..." /></td>
                    <td>
                        <InputSelect @bind-Value=newInfra.acessivel class="form-select">
                            <option value="true">Available</option>
                            <option value="false">Unavailable</option>
                        </InputSelect>
                    </td>
                    <td>
                        <InputSelect @bind-Value=newInfra.tipoInfraestruturaId class="form-select">
                            <option value="-1" selected disabled>Infrastructure Type</option>
                            @foreach (var type in tipoInfraestruturas)
                            {
                                <option value="@type.id">@type.tipo</option>
                            }
                        </InputSelect>
                    </td>
                    <td></td>
                    <td><button type="button" class="btn btn-success" @onclick="HandleValidSubmit">Add</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal" tabindex="-1" style="display:@(showModal ? "block" : "none")" aria-hidden="@(showModal ? "false" : "true")">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="infraToEdit" OnValidSubmit="HandleEditSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3">
                            <label for="descricao" class="form-label">Description</label>
                            <InputText id="descricao" class="form-control" @bind-Value="infraToEdit.descricao" />
                        </div>

                        <div class="mb-3">
                            <label for="latitude" class="form-label">Latitude</label>
                            <InputNumber id="latitude" class="form-control" @bind-Value="infraToEdit.latitude" />
                        </div>
                        <div class="mb-3">
                            <label for="longitude" class="form-label">Longitude</label>
                            <InputNumber id="longitude" class="form-control" @bind-Value="infraToEdit.longitude" />
                        </div>
                        <div class="mb-3">
                            <label for="piso" class="form-label">Floor</label>
                            <InputNumber id="piso" class="form-control" @bind-Value="infraToEdit.piso" />
                        </div>

                        <div class="mb-3">
                            <label for="acessivel" class="form-label">Accessible</label>
                            <InputSelect @bind-Value=infraToEdit.acessivel class="form-select">
                                <option value="true">Available</option>
                                <option value="false">Unavailable</option>
                            </InputSelect>
                        </div>

                        <div class="mb-3">
                            <label for="mobilidade" class="form-label">Mobility</label>
                            <InputSelect @bind-Value=infraToEdit.tipoInfraestruturaId class="form-select">
                                <option value="-1" selected disabled>Infrastructure Type</option>
                                @foreach (var type in tipoInfraestruturas)
                                {
                                    <option value="@type.id">@type.tipo</option>
                                }
                            </InputSelect>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private bool _hasNavigated = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_hasNavigated)
        {
            var token = await localStorage.GetItemAsync<string>("authToken");
            if (string.IsNullOrEmpty(token))
            {
                _hasNavigated = true;
                NavigationManager.NavigateTo("/");
            }
        }
    }
    private List<TipoInfraestrutura> tipoInfraestruturas = new List<TipoInfraestrutura>();
    private List<Infraestrutura> infraestruturas = new List<Infraestrutura>();

    protected override async Task OnInitializedAsync()
    {
        tipoInfraestruturas = await tipoInfraestruturaService.GetInfraestruturasAsync();
        infraestruturas = await infraestruturaService.GetInfraestruturasAsync();
    }
    // The search query from the input
    private string searchQuery = string.Empty;

    private void OnSearchInput(ChangeEventArgs e)
    {
        searchQuery = e.Value.ToString();
    }

    // Get the filtered people based on the search query
    private IEnumerable<Infraestrutura> FilteredPeople =>
        infraestruturas.Where(p => p.descricao.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                          p.latitude.ToString().Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                          p.longitude.ToString().Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                          p.piso.ToString().Contains(searchQuery, StringComparison.OrdinalIgnoreCase) || 
                          p.tipoInfraestrutura.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                          (p.acessivel ? "available" : "unavailable").Contains(searchQuery, StringComparison.OrdinalIgnoreCase));
    // Person model for the table data
    private InfraestruturaSend newInfra = new();
    private string message;
    private CancellationTokenSource? cts;
    private string messageColor = "green";
    private async Task startTimer(string msg, string Color)
    {
        cts?.Cancel();
        cts = new CancellationTokenSource();
        var token = cts.Token;
        message = msg;
        messageColor = Color;
        StateHasChanged();
        try
        {
            await Task.Delay(5000, token);
            message = "";
            StateHasChanged();
        }
        catch (TaskCanceledException)
        {

        }
    }
    public async Task HandleValidSubmit()
    {
        var success = await infraestruturaService.CreateInfraestruturaAsync(newInfra);
        if (success)
        {
            startTimer("Infraestrutura criada com sucesso!", "green");
            newInfra = new(); // limpa o form
            infraestruturas = await infraestruturaService.GetInfraestruturasAsync();
        }
        else
        {
            startTimer("Erro ao criar infraestrutura.", "red");
        }
    }
    public async Task HandleDeleteSubmit(int id)
    {
        var success = await infraestruturaService.DeleteInfraestruturaById(id);
        if (success)
        {
            startTimer("Infraestrutura eliminada com sucesso!", "green");
            infraestruturas = await infraestruturaService.GetInfraestruturasAsync();
        }
        else
        {
            startTimer("Erro ao eliminar infraestrutura.", "red");
        }
    }
    private bool showModal = false;
    private InfraestruturaEdit infraToEdit = new InfraestruturaEdit();
    private void ShowEditModal(Infraestrutura infra)
    {
        int infratypeid = tipoInfraestruturas.FirstOrDefault(p => p.tipo == infra.tipoInfraestrutura).id;
        if(infratypeid>0)
        {
            infraToEdit = new InfraestruturaEdit
                {
                    id = infra.id,
                    descricao = infra.descricao,
                    latitude = infra.latitude,
                    longitude = infra.longitude,
                    piso = infra.piso,
                    acessivel = infra.acessivel,
                    tipoInfraestruturaId = infratypeid
                };
            showModal = true; // Exibe o modal
        }
    }
    private void CloseModal()
    {
        showModal = false; // Fecha o modal
    }
    private async Task HandleEditSubmit()
    {
        // Aqui você pode chamar seu serviço para atualizar o beacon no servidor
        var sucesso = await infraestruturaService.UpdateInfraestrutura(infraToEdit);

        if (sucesso)
        {
            infraestruturas = await infraestruturaService.GetInfraestruturasAsync();
            CloseModal(); // Fecha o modal após a edição
            startTimer("Infraestrutura editada com sucesso!", "green");
        }
        else
        {
            startTimer("Erro ao editar infraestrutura.", "red");
        }
    }
}

