@page "/feedbacktable"
@using IndoorMappingWebsite.Models
@using IndoorMappingWebsite.Services
@attribute [StreamRendering]
@inject IFeedbackService feedbackService
@inject IUserService userService
@inject IPathService pathService
@inject IInfraestruturaService infraestruturaService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
<PageTitle>feedbacktable</PageTitle>

<style>
    body {
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
    }

    /* Navbar Styles */
    .navbarList {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: darkred;
        padding: 0 20px;
        list-style: none;
        margin: 0;
        height: 60px;
    }

    .logo a {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
    }

    .navbarItem {
        margin-left: 15px;
    }

        .navbarItem a {
            color: white;
            text-decoration: none;
            padding: 10px 16px;
            border-radius: 6px;
            transition: background-color 0.3s ease;
        }

            .navbarItem a:hover:not(.active) {
                background-color: #540000;
            }

            .navbarItem a.active {
                background-color: gray;
            }

    /* Center container and buttons */
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 60px);
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

        .center-container h1 {
            margin-bottom: 3rem;
            font-size: 2rem;
            color: #343a40;
        }

    /* Filter input */
    .search-bar {
        margin-bottom: 1.5rem;
        width: 100%;
        max-width: 500px;
    }

        .search-bar input {
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #ced4da;
            font-size: 1.1rem;
        }

    /* Table Container */
    .table-container {
        width: 80%;
        height: calc(100vh - 200px);
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 2rem;
        margin-bottom: 0;
        padding: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        padding: 0;
    }

    th, td {
        vertical-align: middle;
        text-align: center;
        padding: 12px;
        font-size: 1.1rem;
    }

    th {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    thead {
        position: sticky;
        top: 0;
        background-color: darkred;
    }

    button {
        width: 80px;
    }

    .addbtn {
        background-color: darkred;
        position: sticky;
        bottom: 0;
    }

    input {
        text-align: center;
    }

    .messageFromUser {
        height: 400px; /* ou qualquer valor que quiser */
    }

    .modal-backdrop-custom {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.5;
        z-index: 10; /* um pouco abaixo do modal */
    }

    .canto-inferior-direito {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        background-color: @messageColor;
        border-radius: 16px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

</style>
@if (showModal)
{
    <div class="modal-backdrop-custom"></div>
}
@if (message != "" && message != null)
{
    <div class="canto-inferior-direito">
        @message
    </div>
}
<ul class="navbarList">
    <li class="logo"><a href="home">IndoorMap</a></li>
    <div style="display: flex;">
        <li class="navbarItem"><a href="home">Home</a></li>
        <li class="navbarItem"><a href="map">Map</a></li>
        <li class="navbarItem"><a href="usertable">Users</a></li>
        <li class="navbarItem"><a href="beaconstable">Beacons</a></li>
        <li class="navbarItem"><a href="pathsmap">Paths</a></li>
        <li class="navbarItem"><a href="logstable">Logs</a></li>
        <li class="navbarItem"><a href="infrastructuretable">Infrastructure</a></li>
        <li class="navbarItem"><a class="active" href="feedbacktable">Feedback</a></li>
    </div>
</ul>

<div class="center-container">
    <h1>Feedback Table</h1>

    <!-- Search Input -->
    <div class="search-bar">
        <input type="text" @oninput="OnSearchInput" placeholder="Search by user, path, evaluation, date or comment keyword..." class="form-control" />
    </div>

    <!-- Table with Filtered Data inside a Scrollable Container -->
    <div class="table-container">
        <table class="table table-striped m-0">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Path</th>
                    <th>Evaluation</th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in FilteredPeople)
                {
                    <tr>
                        <td>
                            @foreach(var user in users)
                            {
                                if(user.usuarioId == person.usuarioId)
                                {
                                    @user.email
                                }
                            }

                        </td>
                        <td>
                            @foreach (var caminho in caminhos)
                            {
                                ecaminho = false;
                                if(caminho.id == person.caminhoId)
                                {
                                    @foreach (var estrutura in infraestruturas)
                                    {
                                        if (caminho.origemId == estrutura.id)
                                        {
                                            ecaminho = true;
                                            @("Origin: " + estrutura.descricao + " (Piso" + estrutura.piso + ")\n")
                                            break;
                                        }
                                    }
                                    @foreach (var estrutura in infraestruturas)
                                    {
                                        if (caminho.destinoId == estrutura.id)
                                        {
                                            ecaminho = true;
                                            @("Destiny: " + estrutura.descricao + " (Piso " + estrutura.piso + ")")
                                            break;
                                        }
                                    }
                                    break;
                                }
                                if(ecaminho)
                                {
                                    break;
                                }
                            }
                            @if(!ecaminho)
                            {
                                @("App")
                            }
                        </td>
                        <td>@(person.avaliacao) ★</td>
                        <td>@person.dataHora.ToString("dd/MM/yy")</td>
                        <td>@person.dataHora.ToString("HH:mm")</td>
                        @if (feedbacksforUser.FirstOrDefault(p => p.feedbackId == person.id) != null)
                        {
                            <td><button type="button" class="btn btn-primary" @onclick="() => changeComment(person)">See</button></td>
                        }
                        else
                        {
                            <td><button type="button" class="btn btn-danger" @onclick="() => changeComment(person)">See !</button></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal" tabindex="-1" style="display:@(showModal ? "block" : "none")" aria-hidden="@(showModal ? "false" : "true")">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <textarea disabled class="form-control messageFromUser">@commenttoSee</textarea>
                    <label for="answer">Answer</label>
                    <textarea id="answer" class="form-control" @bind="commenttoSend"></textarea>
                </div>
                <button @onclick="HandleEditSubmit" class="btn btn-primary m-auto">Save Changes</button>
                <br />
            </div>

        </div>
    </div>
</div>

@code {
    private bool _hasNavigated = false;
    private bool showModal = false;
    private string adminEmail = string.Empty;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_hasNavigated)
        {
            var token = await localStorage.GetItemAsync<string>("authToken");
            if (string.IsNullOrEmpty(token))
            {
                _hasNavigated = true;
                NavigationManager.NavigateTo("/");
            }
            else
            {
                adminEmail = await localStorage.GetItemAsync<string>("email");
            }
        }
    }
    private List<UserTable.UserGet> users = new List<UserTable.UserGet>();
    private List<Feedback> feedbacks = new List<Feedback>();
    private List<Caminho> caminhos = new List<Caminho>();
    private List<FeedbackUserGet> feedbacksforUser = new List<FeedbackUserGet>();
    private List<Infraestrutura> infraestruturas = new List<Infraestrutura>();
    private bool ecaminho = false;
    protected override async Task OnInitializedAsync()
    {
        users = await userService.GetUsersAsync();
        feedbacks = await feedbackService.GetFeedbacksAsync();
        feedbacks = feedbacks.OrderByDescending(f => f.dataHora).ToList();
        feedbacksforUser = await feedbackService.GetFeedbacksForUser();
        caminhos = await pathService.GetPathsAsync();
        infraestruturas = await infraestruturaService.GetInfraestruturasAsync();
    }
    // The search query from the input
    private string searchQuery = string.Empty;

    private void OnSearchInput(ChangeEventArgs e)
    {
        searchQuery = e.Value.ToString();
    }
    private FeedbackUserGet feedbackToEdit = new FeedbackUserGet();
    private string commenttoSee;
    private string commenttoSend = string.Empty;
    private void changeComment(Feedback person)
    {
        commenttoSee = person.comentario;
        int actualfeedbackuserId = -1;
        FeedbackUserGet actualFeedback = feedbacksforUser.FirstOrDefault(p => p.feedbackId == person.id);
        if(actualFeedback != null)
        {
            commenttoSend = actualFeedback.comentario;
            actualfeedbackuserId = actualFeedback.id;
        }
        else{
            commenttoSend = string.Empty;
            actualfeedbackuserId = -1;
        }
        int adminIdtoSend = users.FirstOrDefault(p => p.email == adminEmail).usuarioId;
        feedbackToEdit = new FeedbackUserGet
            {
                id = actualfeedbackuserId,
                adminId = adminIdtoSend,
                usuarioId = person.usuarioId,
                feedbackId = person.id,
                comentario = commenttoSend
            };
        showModal = true;
    }
    private async Task HandleEditSubmit()
    {
        if (commenttoSend.Trim() != string.Empty)
        {
            feedbackToEdit.comentario = commenttoSend;
            if (feedbackToEdit.id != -1)
            {
                var sucesso = await feedbackService.UpdateFeedbackForUser(feedbackToEdit);
                if (sucesso)
                {
                    feedbacksforUser = await feedbackService.GetFeedbacksForUser();
                    CloseModal(); // Fecha o modal após a edição
                    startTimer("Resposta editada com sucesso!", "green");
                }
                else
                {
                    startTimer("Erro ao editar resposta.", "red");
                }
            }
            else
            {
                FeedbackUser feedback = new FeedbackUser
                    {
                        adminId = feedbackToEdit.adminId,
                        usuarioId = feedbackToEdit.usuarioId,
                        feedbackId = feedbackToEdit.feedbackId,
                        comentario = feedbackToEdit.comentario
                    };
                var sucesso = await feedbackService.CreateFeedbackForUser(feedback);
                if (sucesso)
                {
                    feedbacksforUser = await feedbackService.GetFeedbacksForUser();
                    CloseModal(); // Fecha o modal após a edição
                    startTimer("Resposta criada com sucesso!", "green");
                }
                else
                {
                    startTimer("Erro ao criar resposta.", "red");
                }
            }
            commenttoSend = string.Empty;
        }
        else
        {
            startTimer("A resposta não pode estar vazia.", "red");
        }
    }
    private string message;
    private CancellationTokenSource? cts;
    private string messageColor = "green";
    private async Task startTimer(string msg, string Color)
    {
        cts?.Cancel();
        cts = new CancellationTokenSource();
        var token = cts.Token;
        message = msg;
        messageColor = Color;
        StateHasChanged();
        try
        {
            await Task.Delay(5000, token);
            message = "";
            StateHasChanged();
        }
        catch (TaskCanceledException)
        {

        }
    }
    private void CloseModal()
    {
        showModal = false; // Fecha o modal
    }
    // Get the filtered people based on the search query
    private IEnumerable<Feedback> FilteredPeople =>
    feedbacks.Where(p =>
    {
        var user = users.FirstOrDefault(u => u.usuarioId == p.usuarioId);
        var path = caminhos.FirstOrDefault(i => i.id == p.caminhoId);
        var origin = path != null ? infraestruturas.FirstOrDefault(u => u.id == path.origemId) : null;
        var dest = path != null ? infraestruturas.FirstOrDefault(u => u.id == path.destinoId) : null;

        return (user?.email?.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ?? false) ||
               p.caminhoId.ToString().Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
               p.avaliacao.ToString().Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
               p.dataHora.ToString("dd/MM/yy").Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
               p.dataHora.ToString("HH:mm").Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
               (p.comentario?.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ?? false) ||
               (origin?.descricao?.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ?? false) ||
               (dest?.descricao?.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ?? false);
    });

}

